.wForm label {
    background-color:transparent;
    font-weight:300;
    font-size:22px;
    color:#000;
    margin-bottom:.5rem;
    text-align:left;
    padding-left:0;
}
.wForm select, .wForm input[type="text"] {
	height: 3.0625rem;
	padding: 0.5rem 0.8rem 0.4rem;
}
.wForm textarea, .wForm input {font-size:1.25rem !important;}

.wForm input[type="submit"] {
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border: 4px solid #bb9e6a;
	font-weight: 700;
	padding: 1rem 6rem !important;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
	border-radius: 0;
	margin-top: 0;
	background-color: #000;
	font-size: 1rem;
	font-family: "Gotham SSm A", "Gotham SSm B", "Lato", "Trebuchet MS", Arial, sans-serif;
	text-shadow: none;
	color: #bb9e6a !important;
	line-height: 19px;
	z-index: 0;
	text-align:center;
	margin:0 auto;
}
.wForm .actions {
    text-align:center;
}
.wFormContainer .supportInfo {text-align:center !important;padding:5px !important;font-size:20px !important;}